ion-card-title {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
}

.container-match-result {
  display: flex;
  justify-content: space-around;

  p {
    text-align: center;
    font-weight: bolder;
  }

  span {
    align-items: center;
    display: flex;
    font-size: x-large;
    font-weight: bolder;
  }
}

ion-footer {
  font-size: medium;
  font-weight: bolder;

  p {
    margin-left: 8px;
  }
}
