<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/matches"></ion-back-button>
    </ion-buttons>
    <ion-title>Resumen</ion-title>
    <ion-buttons *ngIf="showItem" slot='primary'>
      <ion-button (click)='delete()'>
        <ion-icon name='trash' slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title>{{match.score}}</ion-card-title>
  </ion-card-header>
  <ion-card class="container-match-result">
    <ion-card-content>
      <img [src]="match.teamOneImg">
      <p>{{match.teamOne}}</p>
    </ion-card-content>
    <span>VS</span>
    <ion-card-content>
      <img [src]="match.teamTwoImg">
      <p>{{match.teamTwo}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let event of match.events">
      <p>{{event}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-checkbox color="secondary" (click)="toggleCheckbox()"></ion-checkbox>
    <p>Partido finalizado</p>
  </ion-item>
</ion-footer>
