<ion-header>
  <ion-toolbar>
    <ion-title>Listado de Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="center">Copa America</h1>
  <ion-list>
    <ion-item *ngFor="let match of matches" [routerLink]="['./',match.id]" text-wrap>
      <ion-avatar>
        <ion-img [src]="match.teamOneImg"></ion-img>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <p class="left">{{match.teamOne}}</p>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <p class="center">VS</p>
      </ion-label>
      <ion-label class="ion-text-wrap">
        <p class="right">{{match.teamTwo}}</p>
      </ion-label>
      <ion-avatar>
        <ion-img [src]="match.teamTwoImg"></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-list>
</ion-content>
